<% @form_link = "/lists/#{@list.id}/items/" %>
<% @form_link += "#{@item.id}" if @item.id %>

<div class="row">
  <% form_for(@item, @form_link) do |f| %>

    <div class="col s12">
      <%= f.label :description %>
      <div class="row">
        <div class="input-field col s10">
          <%= f.text_area :description %>
        </div>
        <div class="input-field col sl2">
          <%= f.check_box :done, class: "filled-in", id: "done" %>
          <%= f.label :done, for: "done" %>
        </div>
      </div>
      <%= f.hidden @list %>
      <div class="row">
        <div class="input-field">
          <%= f.submit class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
